@import "../../../stylesheets/mixins.scss";
@import "../../../stylesheets/variables.scss";

.page_home {
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 50px;
    display: block;
}
