/*
 * Colors
 * ========================================================================== */

$white:                 #fff;
$black:                 #000;
$blue:                  #0147A7;

$color-base:            $white;
$link-color:            #03A9F4;
$body-bg-color:         $blue;

/*
 * Typography
 * ========================================================================== */

$Helvetica-font:        Helvetica, Arial, sans-serif;

$font-family-base:      $Helvetica-font;

$font-size-base:        16px;

/*
 * Layout
 * ========================================================================== */

$max-content-width:     100%;
$min-content-width:     320px;

